body {
  margin: 0;
  font-family: 'Libre Baskerville', sans-serif;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  height: 50px;
}

.header-icon {
  width: 60px;
  height: auto;
}

.search-menu {
  display: flex;
  align-items: center;
  position: relative;
}

.search-toggle {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  padding: 5px;
}

.search-input {
  padding: 5px;
  margin-right: 10px;
  max-width: 0;
  width: 200px;
  opacity: 0;
  border-radius: 20px;
  transition: max-width 0.3s ease, opacity 0.3s ease;
}

.search-input:focus {
  max-width: 200px;
  opacity: 1;
}

.search-menu .menu {
  font-size: 24px;
  color: #fff;
  padding: 0 5px;
  cursor: pointer;
}

.background-overlay {
  background-image: url('elements/pink-bg2.jpg');
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.menu-items {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.menu-item {
  text-align: center;
}

.menu-icon {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}

.menu-item p {
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: 400;
}

.dropdown-menu {
    position: absolute;
    top: 56px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    display: none;
    min-width: 120px;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-family: 'Libre Baskerville', serif;
    background-color: #fff;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}